services:
  postgres:
    image: postgres:15-alpine
    container_name: zen_postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - zen_network

volumes:
  postgres_data:

networks:
  zen_network:
    driver: bridge
